.checkbox-list { 
  
  .list-content { 
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 250px; 
    overflow-y: scroll;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #343a40;
    background-color: #343a40;
  }
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #343a40;
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}